@page "/quiz/{section}"
@using QuizyB.Services
@inject QuizService QuizService

<div class="quiz-container">
    @if (QuizService.CurrentQuestion != null && !QuizService.IsFinished)
    {
        <h3>
            Es sind noch @QuizService.QuestionsToSolve Fragen zu lösen
        </h3>
        <h3>Punktzahl: @_points</h3>
        <h3>Frage: @QuizService.CurrentQuestion.QuestionText</h3>
        <h4>Antworten:</h4>
        @if (QuizService.CurrentQuestion.Answers != null)
        {
            for (var i = 0; i < QuizService.CurrentQuestion.Answers.Count; i++)
            {
                var answerIndex = i;
                <button class="answer-button @QuizService.GetButtonTheme(answerIndex)"
                        @onclick="() => QuizService.CheckAnswer(answerIndex, ref _points)" disabled="@QuizService.IsAnswered">
                    @QuizService.CurrentQuestion.Answers[answerIndex]
                </button>
            }
        }

        @switch (QuizService.IsAnswered)
        {
            case true when QuizService.IsCorrect:
                <h4>@QuizService.CurrentQuestion.Answers![QuizService.CurrentQuestion.CorrectAnswerIndex] ist die richtige Antwort</h4>
                <button class="next-button" @onclick="QuizService.NextQuestion"> Nächste Frage</button>
                break;
            case true when !QuizService.IsCorrect:
                <h4>@QuizService.CurrentQuestion.Answers![QuizService.CurrentQuestion.CorrectAnswerIndex] wäre die richtige Antwort gewesen</h4>
                <button class="next-button" @onclick="QuizService.NextQuestion"> Nächste Frage</button>
                break;
        }
    }
    else if (Is404)
    {
        <h1>Es gibt, zumindest noch nicht, kein Quiz für das Thema: "@Section" </h1>
    }
    else if (QuizService.Questions.Count == 0 && QuizService.QuizLoadedSuccessfully)
    {
        <h1>Sie haben das Quiz mit dem Thema "@Section" mit @_points von möglichen @QuizService.MaxQuestionsCount Punkten abgeschlossen!</h1>
    }
    else if (!QuizService.QuizLoadedSuccessfully && !QuizService.IsLoadingQuiz)
    {
        <h1>Hoppala do isch was schief gloffe, meldsch di bei deim Adminischdrator, ja?</h1>
    }
    else
    {
        <p>Loading...</p>
    }

</div>

@code {
    [Parameter] public string? Section { get; set; }
    private bool Is404 { get; set; }
    private int _points;


    protected override async Task OnParametersSetAsync()
    {
        if (Section == null) return;
        _points = 0;
        Is404 = false;
        QuizService.Reset();
        switch (Section.ToLower())
        {
            case "computerspiele":
                await QuizService.LoadQuestions("data/games.json");
                break;
            case "wunder_der_technik":
                await QuizService.LoadQuestions("data/technic.json");
                break;
            default:
                Is404 = true;
                break;
        }

        await base.OnInitializedAsync();
    }

}